<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <title>product page</title>
</head>

<body>

    <div class="nav-bar"></div>

    <div id="app">

        <div class="cart">
            <p>
                Cart {{ cart.length }}
            </p>
        </div>

        <product :premium="premium" @add-to-cart="updateCart"></product>
        <product @add-to-cart="updateCart"></product>
        <product @add-to-cart="updateCart"></product>
    </div>

    <script id="product" type="text/x-template">
        <div class="product">
            <div class="product-image">
                <img :src="image" :alt="name" />
            </div>

            <div class="product-info">
                <h1>
                    {{ title }}
                </h1>

                <p v-if="inStock >= 1">
                    in stock
                </p>

                <p v-else>
                    out of stock
                </p>
                <p>
                    Shipping: {{ shipping }}
                </p>

                <ul>
                    <li v-for="detail in details">
                        {{ detail }}
                    </li>
                </ul>

                <div v-for="(variant,index) in variants" 
                :key="variant.variantId"
                class="color-box"
                :style = "{backgroundColor:variant.variantColor}"
                @mouseover="updateImage(index)"
                >
                    <p @mouseover="updateProduct(variant.variantImage)">
                    </p>
                </div>

                <button 
                class="button" 
                @click="AddToCart" 
                :disabled="!inStock" 
                :class="{ disabledButton: !inStock }"
                >
                    Add to cart
                </button>

            </div>

            <product-tabs :reviews="reviews">

            </product-tabs>

        </div>
    </script>

    <script id="product-review" type="text/x-template">
        <form class="review-form" @submit.prevent="onSubmit">

            <p v-if="errors.length">
                <b>
                    please correct the following errors
                </b>
    
                <ul>
                    <li v-for="error in errors">
                        {{ error }}
                    </li>
                </ul>
            </p>
            <p>
                <label for="name">
                     Name
                </label>
    
                <input id="name" v-model="name">
            </p>
    
            <p>
                <label for="review">
                    Review:
                </label>
                <textarea id="review" v-model="review">
                </textarea>
            </p>
    
            <p>
                <label for="rating">
                    Review:
                </label>
                <select id="rating" v-model.number="rating">
                    <option>
                        5
                    </option>
                    <option>
                        4
                    </option>
                    <option>
                        3
                    </option>
                    <option>
                        2
                    </option>
                    <option>
                        1
                    </option>
                </select>
            </p>
    
            <p>
                <input type="submit" value="submit">
            </p>
    
        </form>
    </script>

    <script id="product-tabs" type="text/x-template">
        <div>
            <span class="tab" 
            :class="{ activeTab : selectedTab === tab}"
            v-for="(tab, index) in tabs" 
            :key="index"
            @click="selectedTab = tab"
            >
                {{ tab }}
            </span>
    
            <div v-show="selectedTab === 'Review'">
                <h2>
                    Reviews 
                </h2>
    
                <p v-if="!reviews.length">
                    There are no reviews yet
                </p>
    
                <ul v-else>
                    <li v-for="review in reviews">
                        <p>
                            {{ review.name }}
                        </p>
    
                        <p>
                            {{ review.rating }}
                        </p>
    
                        <p>
                            {{ review.review }}
                        </p>
                    </li>
                </ul>
        </div>            
    
        <product-review 
        v-show="selectedTab === 'Make a Review'"
        >
        </product-review>
    
        </div>
        
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="main.js"></script>

</body>

</html>