<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
  <div id="likecounter">
    <button v-on:click="increase">
      like
    </button>
    <p>
      counter:{{ counter }}
    </p>
    <p>
      result:{{ result }}
    </p>
  </div>
  
    <div id="app">
        <span v-bind:title="message" v-bind:style="styleObject">
hello
        </span>
    </div>
      <ul id="v-for-object" class="demo">
        <li v-for="(value,name,,index) in object">
         {{ index }} {{ name }}:{{ value }}
        </li>
      </ul>
      <div id="appp">
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
      </div>

      <!-- <div class="button-counter">
        <buttonCounter></buttonCounter>
      </div> -->
      <div id="components-demo">
        <button-counter></button-counter>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="main.js"></script>
</body>
</html>