<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>Document</title>
</head>
<body>

  
        <div id="app-7">
            <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
            ></todo-item>
            </ol>
      </div>
      <div id="app-6">
          <ol>
              <vegetable-item
              v-for="item in list"
              v-bind:todo="item"
              v-bind:key="item.id"
              >

              </vegetable-item>
          </ol>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="main2.js"></script>
</body>
</html>